<div class="register">
  <h1 class="register__title">Create new account</h1>
  <form class="register__form">
    <div class="register__field">
      <span class="register__span">PP</span>
      <input
        type="text"
        name="username"
        placeholder="Enter username"
        class="register__input"
      />
    </div>
    <div class="register__field">
      <span class="register__span">PP</span>
      <input
        type="text"
        name="fullname"
        placeholder="Enter fullname"
        class="register__input"
      />
    </div>
    <div class="register__field">
      <span class="register__span">PP</span>
      <input
        type="date"
        name="birthdate"
        placeholder="Enter birthdate"
        class="register__input"
      />
    </div>
    <div class="register__field">
      <span class="register__span">PP</span>
      <input
        type="email"
        name="email"
        placeholder="Enter email"
        class="register__input"
      />
    </div>
    <div class="register__field">
      <span class="register__span">PP</span>
      <input
        type="password"
        name="password"
        placeholder="Enter password"
        class="register__input"
      />
    </div>
    <div class="register__field">
      <span class="register__span">PP</span>
      <input
        type="number"
        name="wallet"
        placeholder="Enter wallet"
        class="register__input"
      />
    </div>
    <button type="submit" class="register__button">Register</button>
  </form>
  <p>Already have an account? <a href="#">Sign in</a></p>
</div>
