<div class="login">
  <h1 class="login__title">Login</h1>
  <form class="login__form">
    <div class="login__field">
      <span class="login__span">PP</span>
      <input
        type="email"
        name="email"
        placeholder="Enter email"
        class="login__input"
      />
    </div>
    <div class="login__field">
      <span class="login__span">PP</span>
      <input
        type="password"
        name="password"
        placeholder="Enter password"
        class="login__input"
      />
    </div>
    <button type="submit" class="login__button">Login</button>
  </form>
  <p>Don't have an account? <a href="#">Register</a></p>
</div>
