<div class="login">
  <h1 class="login__h1">Sign in</h1>
  <form [formGroup]="loginForm" (ngSubmit)="signIn()" class="login__form">
    <div>
      <div class="login__field">
        <span class="login__span">
          <img src="./assets/icons/email.svg" alt="email" />
        </span>
        <input
          type="email"
          formControlName="email"
          placeholder="Enter email"
          class="login__input"
        />
      </div>
      <small
        *ngIf="submitted && getFormControls.email.errors?.required"
        class="login__error"
      >
        Field required
      </small>
      <small
        *ngIf="submitted && getFormControls.email.errors?.email"
        class="login__error"
      >
        Not a valid email
      </small>
    </div>
    <div>
      <div class="login__field">
        <span class="login__span">
          <img src="./assets/icons/password.svg" alt="password" />
        </span>
        <input
          type="password"
          formControlName="password"
          placeholder="Enter password"
          class="login__input"
        />
      </div>
      <small
        *ngIf="submitted && getFormControls.password.errors?.required"
        class="login__error"
      >
        Field required
      </small>
    </div>
    <button type="submit" class="login__button">Login</button>
    <p *ngIf="submitted && showErrorUserNotExist" class="login__error login__error--center">
      Incorrect email or password
    </p>
  </form>
  <p>
    Don't have an account?
    <a routerLink="/register" class="login__register">Register</a>
  </p>
</div>