<div class="dashboard dashboard--close" #dashboard>
  <app-dialog-increase-wallet
    [loggedUser]="loggedUser"
    (onUpdateUserWallet)="updateUserWallet($event)"
  >
  </app-dialog-increase-wallet>
  <app-dialog-buy-coin
    [loggedUser]="loggedUser"
    (onUpdate)="update($event)"
  ></app-dialog-buy-coin>
  <header class="dashboard__header">
    <div class="dashboard__header-up">
      <div>LOGO</div>
      <button (click)="logout()">Log out</button>
    </div>
    <div class="dashboard__header-down">
      <p class="dashboard__p">
        <ng-container *ngIf="loggedUser as user">
          Welcome {{ user.username }}
        </ng-container>
      </p>
      <p class="dashboard__p">
        <ng-container *ngIf="loggedUser as user">
          Wallet: {{ user.wallet | number : "1.2-2" }}$
        </ng-container>
        <button type="button" (click)="openModalIncreaseWallet()">+</button>
      </p>
    </div>
  </header>
  <main class="dashboard__main">
    <app-table-coins
      [ee]="ee"
      [loggedUserId]="loggedUserId"
      (onOpenModalBuyCoin)="openModalBuyCoin($event)"
    ></app-table-coins>
  </main>
</div>
<span class="loader" #loader></span>
