.dashboard {
  &--close {
    display: none;
  }
}

.header {
  background-color: var(--bg-primary);
  position: sticky;
  top: 0;
  z-index: 23;
  padding: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 2px 5px -3px rgba(0, 0, 0, 0.75);

  &__button-log-out {
    background-color: transparent;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
      background-color: #4a8dda;
    }
  }
}

.main {
  width: 90%;
  margin: 5% auto;
}