<div class="dashboard dashboard--close" #dashboard>
  <app-dialog-increase-wallet
    [loggedUser]="loggedUser"
    (onUpdateUserWallet)="updateUserWallet($event)"
  >
  </app-dialog-increase-wallet>
  <app-dialog-buy-coin
    [loggedUser]="loggedUser"
    (onUpdate)="updateUserWallet($event)"
  ></app-dialog-buy-coin>
  <app-dialog-sell-coin
    [loggedUser]="loggedUser"
    (onUpdate)="updateUserWallet($event)"
  ></app-dialog-sell-coin>
  <header class="header">
    <span>CRYPTOCOINS</span>
    <button (click)="logout()" class="header__button-log-out" title="log out">
      <img src="./assets/icons/logout.svg" alt="log out" />
    </button>
  </header>
  <main class="main">
    <app-table-coins
      [loggedUser]="loggedUser"
      [walletUpdated]="walletUpdated"
      [loggedUserId]="loggedUserId"
      (onOpenModalBuyCoin)="openModalBuyCoin($event)"
      (onOpenModalIncreaseWallet)="openModalIncreaseWallet()"
      (onOpenModalSellCoin)="openModalSellCoin($event)"
    ></app-table-coins>
  </main>
</div>
<app-spinner></app-spinner>