:root {
  --bg-primary: rgb(231, 233, 235);
  --bg-button-primary: #2766ae;
  --bg-button-primary-hover: #4a8dda;
  --color-link-primary: #2766ae;
  --color-link-primary-hover: #4a8dda;
  --color-error-primary: rgb(192, 29, 29);
}

html {
  font-size: 100%;
  background-image: url("./assets/images/dvn6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}